@media screen and (max-width:992px){
    .container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }
}
@media screen and (max-width:676px){
    .container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .container .card:nth-child(4){
        grid-column: 1 / 2;
    }
}