.formStyle {
    width: 100%;
    max-width: 500px;
    height: 400px;
    background: rgba(255, 255, 255, 0.2);
    /* low opacity so blur is visible */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* for Safari */
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {
    height: 100vh;
    background: linear-gradient(to right, rgb(102, 19, 197), purple);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.input {
    width: 100%;
    height: 38px;
    padding-left: 10px;
    outline: none;
    border: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;

}

.btn {
    background: linear-gradient(to left, rgb(102, 19, 197), purple);
    color: white;
    padding: 20px 40px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
    animation: pulse 0.5s linear infinite;
}


@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6);
    }

    100% {
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.05);
    }
}

.btn2 {
    background: linear-gradient(to left, rgb(102, 19, 197), purple);
    border-radius: 6px;
    border: none;
    font-weight: bold;
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
    animation: pulse 0.5s linear infinite;
    position: absolute;
    top: 16px;
    right: 16px;
}

.btn2 a {
    padding: 20px 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
}


.input::placeholder {
    color: white;
}

h1 {
    color: white;
    font-size: 38px;
    margin-bottom: 3px;
    text-align: center;
}