<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add House</title>
</head>

<body>

  <%- include('partials/Header.ejs') %>

    <h1>
      Add House Page
    </h1>

    <form action="/add-house" method="post">
      <input type="text" name="houseName" placeholder="Enter House Name">
      <button>ADD</button>
    </form>

</body>

</html>