<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="homeStyle.css">
</head>

<body>

  <%- include('partials/Header.ejs') %>

  <h1 id="heading">Welcome to Home Page...!</h1>

  <ul id="list">
      <% houseList.forEach((item) => { %>
          <li>
            <%= item.houseName %>
          </li>
      <% }) %>
  </ul>


</body>

</html>