@import "tailwindcss";


:root {
    --primary-bg:
        radial-gradient(ellipse at 20% 30%, rgba(56, 189, 248, 0.4) 0%, transparent 60%),
        radial-gradient(ellipse at 80% 70%, rgba(139, 92, 246, 0.3) 0%, transparent 70%),
        radial-gradient(ellipse at 60% 20%, rgba(236, 72, 153, 0.25) 0%, transparent 50%),
        radial-gradient(ellipse at 40% 80%, rgba(34, 197, 94, 0.2) 0%, transparent 65%);
    --primary-text: black;
    --secondary-text:oklch(55.8% 0.288 302.321);
}

[data-theme='dark'] {
    --primary-bg: radial-gradient(circle at center, #000000 0%, #350136 100%);
    --primary-text: white;
    --secondary-text: white;
}

@theme {
    --breakpoint-m300: 300px;
    --color-primary-bg: var(--primary-bg);
    --color-primary-text: var(--primary-text);
    --color-secondary-text: var(--secondary-text);
}

.container {
    @apply px-4 mx-auto max-w-[500px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1130px] 2xl:max-w-7xl;
}

body {
    background: var(--primary-bg);
    color: var(--primary-text);
    min-height: 100vh;
}