.container{
    height: 100vh;
    background: linear-gradient(to right, rgb(102, 19, 197), purple);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content{
    max-width: 500px;
    width:100% ;
    background-color: white;
    color: white;
    border-radius: 10px;
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content > div{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.16);
    padding: 10px 15px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgDiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(102, 19, 197), purple);
}

.btn {
    background: linear-gradient(to right, rgb(102, 19, 197), purple);
    border-radius: 6px;
    border: none;
    font-weight: bold;
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
    animation: pulse 0.5s linear infinite;
    position: absolute;
    top: 16px;
    right: 16px;
}

.btn a {
    padding: 20px 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6);
    }

    100% {
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.05);
    }
}