*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url('./bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    width: 60%;
    height: 60vh;
    margin: 10% auto 5% auto;
    color: white;
}
/*! content-start */
.content{
    h1{
        font-size: 48px;
        text-align: center;
    }

    /** form  **/
    .form {
        margin: 50px 0;
        input{
            width: 85%;
            padding: 15px 15px;
            outline: none;
            border: none;
            border-radius: 10px 0px 0px 10px;
        }
        button{
            width:  14%;
            padding: 15px ;
            border: none;
            background:linear-gradient(to right,#7D0A0A,#BF3131) ;
            color: white;
            position: relative;
            right: 5px;
            font-weight: bold;
            border-radius: 0px 10px 10px 0;
            cursor: pointer;
        }
    }

    /** boxes  **/
    .boxes{
        .box{
            width: 120px;
            height: 120px;
            border: 2px solid white;
            /* display: inline-block; */
            margin: 0 5.7%;
            float: left;
            text-align: center;
            border-radius: 50%;
            p{
                font-size: 22px;
                font-weight: 500;
                position: relative;
                top: 26px;
            }
        }
    }
}
/*! content-end */