*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-image: url('./bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 30%;
    height: 70vh;
    margin: 70px auto;
    padding: 20px 30px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(8px);
}
/*! form-start */
.login-form{
    h1{
        text-align: center;
        font-weight: 900;
        font-size: 38px;
        padding: 20px 0;
    }
    /** form-inputs  */
    form{
        input{
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid white;
            font-size: 20px;
            padding: 10px;
        }
        .first-input{
            margin-top: 20px;
        }
        .second-input{
            margin-top: 40px;
        }
        ::placeholder{
            color: white;
        }
    }
    
    /** form-conformation  */
    .conform{
        padding: 30px 0;
        font-size: 18px;
        span{
            position: relative;
            left: 135px;
            cursor: pointer;
        }
    }
    /** form-button  */
    .login-button{
        width: 100%;
        padding: 15px 0;
        margin: 20px 0;
        border: none;
        background-color: white;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }
    /** end-massage  */
    .conform-massage{
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        padding: 20px 0 10px 0;
    }
}