@import "tailwindcss";


.line{
    color: rgba(0, 0, 0, 0.736);
    text-align: center;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

.line p::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 45%;
    height: 2px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.218);
}
.line p::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 45%;
    height: 2px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.218);
}

