/*! example 1  */

/* .container{
    height: 100vh;
}

.container img{
    height: 300px;
}

#girl{
    position: absolute;
    bottom: 40px;
    left: 40px;
}

#boy{
    position: absolute;
    left: 60%;
    bottom: 40px;
} */


/*! example 2 */

#container{
    position: relative;
    height: 100vh;
}

#boy{
    height: 200px;
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 10;
}
#indore{
    position: absolute;
    right: 100px;
    height: 240px;
    top: 0;
}
#ara{
    position: absolute;
    height: 240px;
    top: 20%;
}
#bhopal{
    position: absolute;
    height: 240px;
    bottom: 10px;
    right: 0;
}