body{
    background-color: whitesmoke;
}
:root{
    --gradient-1:#578E7E;
    --gradient-2:#3D3D3D;
    --gradient-3:#215B63;
    --gradient-4:#232855;
}
.gradient{
    /* height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    /** linear-gradient */
    /* background: linear-gradient(to bottom, var(--gradient-1) , var(--gradient-2) ); */
    /** radial-gradient */
    /* background: radial-gradient(circle , var(--gradient-1) , var(--gradient-2) );
    color: white; */
}
/* pseudo class  */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background:linear-gradient(to right, var(--gradient-2) , var(--gradient-1) );
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    transition: all 1s;
}
button:hover{
    /* background:linear-gradient(to right, var(--gradient-3) , var(--gradient-4) ); */
}
button:active{
    /* background:linear-gradient(to right, var(--gradient-3) , var(--gradient-4) ); */
}
button:focus{
    /* background:linear-gradient(to right, var(--gradient-3) , var(--gradient-4) ); */
}

/** first and last child  */
/* .para-here p:first-child{
    background-color: orange;
}
.para-here p:last-child{
    background-color: rgb(255, 0, 0);
} */

/*! pseudo elements  */
nav{
    background-color: red;
}
nav ul{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    padding:10px 20px ;
    gap: 20px;
}
nav li{
    /* flex-grow: 1; */
    /* border-radius: 5px; */
    /* background-color: yellow; */
    padding: 5px 20px;
    position: relative;
    color: white;
}
p::before{
    content: '💋';
}
p::after{
    content: '😂';
}
p::selection{
    background-color: #578E7E;
    color: white;
}
p::first-letter{
    background-color: rgb(0, 139, 0);
}
p::first-line{
    background-color: rgb(139, 113, 0);
}